body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    height: 70%;
    width: 70%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
}

.parent > div {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 10px;
}

.parent > div:nth-child(2) {
    flex: 1;
}

.parent > div:nth-child(3) {
    flex: 2;
}

.parent > div:nth-child(4) {
    flex: 4;
}